<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th><%= link_to "Title", movies_path(sort_by: 'title', order: params[:order] == 'asc' ? 'desc' : 'asc') %></th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Link to movie</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date.strftime("%B %d, %Y") if movie.release_date %></td>
          <td><%= link_to "Show movie", movie_path(movie, sort_by: params[:sort_by], order: params[:order] == 'asc' ? 'desc' : 'asc') %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <%= link_to "Create new movie", new_movie_path(sort_by: params[:sort_by], order: params[:order] == 'asc' ? 'desc' : 'asc') %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
